@mixin flex-template($flex, $direction, $content) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $content;
}

%upcase {
    text-transform: uppercase;
}

%templateP {
    font-family: 'Gilroy-SemiBold';
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #8476AA;     
}

%templateH {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.33px;
    color: #99EFD0;  
}

body {
    background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;
    header{
        height: 40px;
        margin: 80px auto;
        @include flex-template(flex, row, space-between);
        nav{
            font-family: 'Duru Sans', sans-serif;;
            @include flex-template(flex, row, space-between);
            align-items: center;         
            ul{
                @include flex-template(flex, row, space-between);
                list-style-type: none;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #B5B5B5;   
                li {
                    padding: 0 20px;
                }
            }
        }
        .group-but {
            button {
                @extend %upcase;
                padding: 8px 27px;
                &:first-child {
                    color: orange;
                    border: 2px solid orange;
                    border-radius: 5px;
                    background: transparent;
                    margin-right: 20px;
                }
                &:last-child {
                    background-color: orange;
                    border: 2px solid orange;
                    color: white;
                    border-radius: 5px;
                }
            }
        }
    }
    main {
        .main-section1 {
            @include flex-template(flex, row, space-between);
            .main-section1__part1 {
                width: 570px;
                height: 439px;
                @include flex-template(flex, column, space-between);
                h1 {
                    @include flex-template(flex, column, space-between);
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 44px;
                    line-height: 50px;       
                    color: #99EFD0; 
                    width: 531px;           
                }     
                p {
                    font-family: 'Gilroy-SemiBold';
                    font-size: 18px;
                    line-height: 22px;
                    color: #8476AA;      
                    width: 468px;       
                }
                .main-section1__buttons {
                    display: flex;
                    button {
                        @extend %upcase;
                        padding: 8px 27px;
                        &:first-child {
                            background-color: orange;
                            border: 2px solid orange;
                            color: white;
                            border-radius: 5px;                            
                        }
                        &:last-child {
                            color: orange;
                            border: 2px solid orange;
                            border-radius: 5px;
                            background: transparent;
                            margin-left: 20px;
                        }
                    }    
                }
                .main-section1__frame {
                    @include flex-template(flex, row, space-between); 
                    align-items: center; 
                    width: 630px;
                    height: 80px;
                    margin-top: 20px;
                    .main-section1__frame__list {
                    @include flex-template(flex, column, space-between);  
                    p {
                        margin: 0;
                        &:last-child {
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;           
                            color: #6D6D78;                 
                        }
                    }
                    }             
                    img {
                        width: 140px;
                        height: 80px;
                    }   
                }
            }
            .main-section1__part2 {
                width: 723.71px;
                height: 579.57px;
                img {
                    position: absolute;
                    width: 723.71px;
                    height: 579.57px;
                    top: 219.15px;
                    right: 0;                    
                }
            }
        }
        .lables {
            margin-bottom: 100px;
            ul {
                @include flex-template(flex, row, space-around); 
                height: 30.03px;
                opacity: 0.3;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
        .choise {
            position: relative;
            @include flex-template(flex, column, space-between); 
            align-items: center;
            #downstars {
                position: absolute;
                left: -150px;
                bottom: 200px;
            }
            h1 {
                width: 299px;
                height: 50px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 42px;
                line-height: 50px;
                text-align: center;
                color: #99EFD0;            
            }
            >p {
                width: 764.37px;
                height: 22px;
                font-family: 'Gilroy-SemiBold';
                font-size: 16px;
                line-height: 22px;
                text-align: center;   
                color: #8476AA;
                margin-bottom: 50px;             
            }
            .choise__article1 {
                width: 997px;
                @include flex-template(flex, row, space-between); 
                .choise__article1__container {
                    width: 300px;
                    height: 200px;
                    display: flex; 
                    .first-column{
                        height: 106px;
                        img {
                            margin-right: 25px;
                        }
                    }
                    .second-column {
                        h5 {
                            margin: 0;
                            width: 218px;
                            height: 22px;                    
                            font-family: 'Gilroy-Bold';
                            font-size: 18px;
                            line-height: 22px;
                            color: #99EFD0;                          
                        }
                        p {
                            width: 247px;
                            height: 66px;
                            font-family: 'Gilroy-SemiBold';
                            font-size: 14px;
                            line-height: 22px;
                            color: #8476AA;         
                        }
                    }
                }
            }
        }
        .trafic {
            @include flex-template(flex, row, space-around);
            align-items: center;
            min-height: 700px;
            position: relative;
            #stars {
                position: absolute;
                left: -150px;
                top: 300px;            
            }
            .trafic__par {
                width: 470px;
                height: 280px;
                @include flex-template(flex, column, space-between);    
                align-items: flex-start;            
            }
            h1 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 50px;       
                color: #99EFD0; 
                margin: 0;
                span {
                    color: #F2994A;
                }               
            }
            p {
                font-family: 'Gilroy-SemiBold';
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.5px;
                color: #8476AA;                
            }
            button {
                @extend %upcase;
                padding: 8px 27px;
                background-color: orange;
                border: 2px solid orange;
                color: white;
                border-radius: 5px;                
            }
        }
        .simple-ways {
            @include flex-template(flex, column, center);
            h1 {
               @extend %templateH;              
            }
            p {
                @extend %templateP;                              
            }
            .simple-ways__cards {
                @include flex-template(flex, row, space-around);
                width: 100%;
                div {
                    width: 261px;
                    height: 118px;    
                    h1 {
                        @extend %templateH;                                                            
                    }           
                    p {
                        @extend %templateP;   
                    }     
                }
            }
        }
        .next-project {
            position: relative;
            @include flex-template(flex, column, flex-start);
            align-items: center;
            margin-top: 169px;
            height: 580px;
            .next-project__text {
                min-width: 770px;
                min-height: 200px;
                @include flex-template(flex, column, flex-start);   
                align-items: center;             
            }
            h1 {
               @extend %templateH;
               span {
                    color: #F2994A;
               }              
            }
            button {
                @extend %upcase;
                padding: 8px 27px;
                background-color: orange;
                border: 2px solid orange;
                color: white;
                border-radius: 5px;    
            }
            img {
                width: 1203px;
                height: 492px;
                position: absolute;
                top: 106px;
            }
        }
        .invest-business {
            @include flex-template(flex, row, space-around);
            align-items: center;
            min-height: 700px;
            position: relative;
            .invest-business__par {
                width: 470px;
                height: 280px;
                @include flex-template(flex, column, space-between);    
                align-items: flex-start;            
            }
            h1 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 44px;
                line-height: 50px;       
                color: #99EFD0; 
                margin: 0;
                span {
                    color: #F2994A;
                }               
            }
            p {
                font-family: 'Gilroy-SemiBold';
                font-size: 15px;
                line-height: 28px;
                letter-spacing: 0.5px;
                color: #8476AA;                
            }
            button {
                @extend %upcase;
                padding: 8px 27px;
                background-color: orange;
                border: 2px solid orange;
                color: white;
                border-radius: 5px;                
            }
            #map {
                position: absolute;
                width: 816px;
                height: 461px;
                top: 200px;
                right: -150px;
            }
            .invest-business__img {
                position: relative;
                img:first-child {
                    position: relative;                  
                    order: 1;
                }
                #label-to-card {
                    position: absolute;
                    right: -110px;
                    top: 250px;
                    order: -2;
                }
            }
        }
        .information-online {
            @include flex-template(flex, row, space-around); 
            margin: 104px 0;
            width: 100%;
            position: relative;
            #stars {
                position: absolute;
                right: -150px;
                transform: rotate(-180deg);
            }
            .information-online__column {
                @include flex-template(flex, column, center);
                align-items: flex-start; 
                div {
                    height: 138px;
                    @include flex-template(flex, column, flex-start);
                    img {
                        width: 36px;
                        height: 36px;
                    } 
                }
                h3 {
                    width: 480px;
                    height: 32px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    letter-spacing: 0.325px;
                    color: #99EFD0;                    
                }
                h5 {
                    margin: 0;
                    margin-top: 15px;
                    height: 18px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.2px;
                    color: #99EFD0;                                        
                }
                p {
                    width: 414px;
                    height: 40px;
                    font-family: 'Gilroy-SemiBold';
                    font-size: 15px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #8476AA;     
                    word-wrap: break-word;                        
                }    
                .information-online__2columns {
                    @include flex-template(flex, row, space-between);
                    align-items: flex-start;
                    margin-top: 30px;
                    p {
                        width: 224px;
                        height: 60px;
                        font-family: 'Gilroy-SemiBold';
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        color: #8476AA;     
                        word-wrap: break-word;                           
                    } 
                }  
            }
        }
        .form {
            position: relative;
            height: 550px;
            >img {
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);               
            }
            .container-form {
                margin: 40px auto;
                width: 940px;
                height: 324px;
                background: rgba(60, 62, 125, 0.19);
                backdrop-filter: blur(67px);
                border-radius: 5px;  
                @include flex-template(flex, column, center);
                align-items: center;
                div {
                    @include flex-template(flex, column, center);
                    align-items: center;
                    h2 {
                        margin: 0;
                        height: 43px;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 43px;
                        text-align: center;
                        color: #F2994A;                        
                    }
                    p {
                        height: 44px;
                        font-family: 'Rubik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;
                        color: #95A1BB;
                        &:last-child {
                            height: 20px;
                            font-family: 'Gilroy-SemiBold';
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            color: #8476AA;                                                        
                        }                       
                    }
                    .inputs {
                        @include flex-template(flex, row, center);
                        input:first-child {
                            width: 288px;
                            height: 56px;
                            opacity: 0.1;
                            border-radius: 5px 0px 0px 5px;   
                            padding: 0 16px;
                            color: grey;    
                        }
                        input:last-child {
                            width: 128px;
                            height: 56px;
                            background: #F2994A;
                            border-radius: 0px 5px 5px 0px; 
                            border: 1px solid #F2994A; 
                            color: white;    
                        }
                    }
                    
                }              
            }
        }
    }
    footer {
        position: relative;
        >img {
            position: absolute;
            bottom: 0;
            left: -150px;
        }
        section {
            width: 984px;
            height: 537px;
            @include flex-template(flex, column, space-between);
            margin: 0 auto;
                .footer__icons {
                    @include flex-template(flex, row, space-between);
                    h3 {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 32px;
                        letter-spacing: 0.325px;
                        color: #F2994A;
                    }
                    .icons {
                        @include flex-template(flex, row, space-between);
                        width: 152px;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
                .footer-columns {
                    @include flex-template(flex, row, space-between);
                    div {
                        @include flex-template(flex, column, space-between);
                        h5 {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 18px;
                            letter-spacing: 0.2px;
                            color: #FFFFFF;                    
                        }
                        p {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            color: #FFFFFF;
                        }
                    }
                }
                .copy {
                    margin: 60px auto;
                    width: 450px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #8D8D8D;                                   
                    @include flex-template(flex, row, space-between);
                }
        }
    }
}

