@mixin flex($flex, $direction, $justify){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify; 
}

body {
    @include flex(flex, column, center);
    align-items: center;
    height: 100vh;
    // background: rgb(13,223,203);
    // background: radial-gradient(circle, rgba(13,223,203,1) 21%, rgba(255,255,255,1) 77%);
    .change-language {
        width: 70%;
        height: 500px;
        @include flex(flex, row, center);
        align-items: center;
        background-color: #E6E6FA;
        border: 2px solid grey;
        border-radius: 15px;
        padding: 0 20px;
        .table-capture {
            width: 40%;
            ul {
                li {
                    font-size: 25px;
                    height: 40px;
                }
            }
        }
        .img-flag {
            width: 50%;
            @include flex(flex, row, center);
            align-items: center;
            img {
                width: 200px;
                height: 150px;
                border: 3px solid grey;
                border-radius: 20px;
                object-fit: fill;

            }
        }
    }
}